In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Importing the dataset
dataset = pd.read_csv('50_Startups.csv')
X = dataset.iloc[:, :-1]
y = dataset.iloc[:, 4]

In [3]:
#Convert the column into categorical columns

states=pd.get_dummies(X['State'],drop_first=True)

In [4]:
# Drop the state coulmn
X=X.drop('State',axis=1)

In [5]:
# concat the dummy variables
X=pd.concat([X,states],axis=1)

In [6]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [7]:
# Fitting Multiple Linear Regression to the Training set
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [8]:
# Predicting the Test set results
y_pred = regressor.predict(X_test)

In [9]:
from sklearn.metrics import r2_score
score=r2_score(y_test,y_pred)

In [10]:
score

0.9347068473282423

In [11]:
pred_y_df = pd.DataFrame({'Actual value':y_test,'predicted value':y_pred,'Difference':y_test-y_pred})

In [12]:
pred_y_df[:20]

    Actual value  predicted value    Difference
28     103282.38    103015.201598    267.178402
11     144259.40    132582.277608  11677.122392
10     146121.95    132447.738452  13674.211548
41      77798.83     71976.098513   5822.731487
2      191050.39    178537.482211  12512.907789
27     105008.31    116161.242302 -11152.932302
38      81229.06     67851.692097  13377.367903
31      97483.56     98791.733747  -1308.173747
22     110352.25    113969.435330  -3617.185330
4      166187.94    167921.065696  -1733.125696